<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teran"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.home_page.post.favorite.FavoritePostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home_page.post.favorite.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home_page.post.detail.DetailPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home_page.post.AddPostActivity"
            android:exported="false"
            android:parentActivityName=".ui.home_page.HomePageActivity" />
        <activity
            android:name=".ui.survey.SurveyResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.survey.SurveyQuestionActivity"
            android:exported="false"
            android:parentActivityName=".ui.survey.SurveyActivity" />
        <activity
            android:name=".ui.journal.EditJournalActivity"
            android:exported="false"
            android:parentActivityName=".ui.journal.JournalActivity" />
        <activity
            android:name=".ui.journal.AddJournalActivity"
            android:exported="false"
            android:parentActivityName=".ui.journal.JournalActivity" />
        <activity
            android:name=".ui.meditation.MeditationActivity"
            android:exported="false"
            android:parentActivityName=".ui.journal.JournalActivity" />
        <activity
            android:name=".ui.survey.SurveyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home_page.HomePageActivity"
            android:exported="false"
            android:label="@string/title_activity_home_page" />
        <activity
            android:name=".ui.journal.JournalActivity"
            android:exported="false"
            android:parentActivityName=".ui.home_page.HomePageActivity" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>